/* Most card related styles are inherinted from the other regular projectCard (to avoid unessary code) */
.card-container.expanded {
    position: fixed;
    visibility: hidden;
    width: 85vw;
    height: 85vh;
    top: 2.5%;
    left: 7.5%;
    z-index: 100;

    overflow-y: auto;
    overflow-x: hidden;
    will-change: transform;
    backface-visibility: hidden;

    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease,
        border-color 0.2s ease;

    box-shadow:
        0 4px 12px rgba(0, 0, 0, 0.15);
}

.card-container.expanded::-webkit-scrollbar {
  display: none;
}

.repo-image.expanded {
    height: 50%;
}

.readme-container {
    color: var(--text-color-primary);
}


