/* color ref https://colorhunt.co/palette/7f2020869b7ec9caacf6f3eb */ 
/* color ref #2 https://colorhunt.co/palette/222831393e46948979dfd0b8 */

@font-face {
  font-family: 'Quicksand';
  src: url('fonts/Quicksand/Quicksand-VariableFont_wght.woff2') format('woff2'),
  url(fonts/Quicksand/Quicksand-VariableFont_wght.ttf) format('truetype');
  font-display: swap;
}

:root {
  /* Base Colors */
  --backgound-primary: #222831;
  --background-secondary: #393E46;
  
  /* Functional Colors */
  /* --text-main: #C9CAAC; */
 --text-color-primary: #DFD0B8;
 --text-color-secondary: #948979;
 --text-font-default: Quicksand;

 --mobile-view-cutoff: 768px;
}

html {
    overflow-x: hidden;
}

body {
    color: var(--text-color-primary);
    background-color: var(--backgound-primary);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
    overflow-x: hidden;

    /* justify-content: center; */
}

header {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutme-container {
    /* background-color: var(--background-secondary); */
    width: 55vw;
    /* height: 45vh; */
    margin: 1rem;
    border: 4px;
    padding: 1rem;
    border-radius: 5%;
    /* border: 2px solid var(--text-color-secondary); */

    /* padding: 2rem;
    border-radius: 20px;
    max-width: 600px;
    min-width: 200px;
    backdrop-filter: blur(12px); */



    /* max-width: 600px;
    margin-left: 12%;
    margin-top: -80px;
    padding: 2rem;
    border-radius: 20px;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(12px); */
}

/* .card-overlay {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 100;
}

.card-overlay.show {
    pointer-events: auto;
} */

.project-card-container{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}   

.fullover {
    position: fixed;
    inset: 0;
    z-index: 99;

    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);

    opacity: 0; 
    visibility: hidden;

    transition:
        opacity 0.5s ease,
        visibility 0s linear 0.5s; /
        /* Even visibility cannont be interpolated, its state can still be delayed */
}

.fullover.show {
    opacity: 1;
    visibility: visible;
    transition: opacity .5s ease;
}

@media (max-width: 768px) {
    .project-card-container {
        flex-direction: column;
    }
}
