main {
    /* width: 50vw;
    height: 50vh; */
    overflow: auto;
    color: var(--text-color-primary);
    display: flex;
    flex-direction: row;
    /* flex: 1 5; */
    /* border: 1px, */
    /* solid #ccc, */
    /* padding: 10px; */
}

.control-bar {
    color: var(--text-color-primary);
    padding: .5rem;
    flex: 1
}

.cpu-output {
    color: black;
    background-color: #FAF9F6;
    margin: 1rem;
    padding-bottom: 0;
    height: 1.5rem;
}

.cpu-section {
    flex: 4
}

.cpu-log {
    color: black;
    background-color: #FAF9F6;
    margin: 1rem;
    border-style: solid;
    border-color: var(--background-secondary);
    border-width: .25rem;
    flex: 4;

    height: 78vh;
    overflow:auto;
    min-height: 0;
}

.ProgramInput {
    height: 65vh;
    width: 100%;
    margin: .5rem;
    text-align: left;
    padding: 0;
}