/* color ref https://colorhunt.co/palette/7f2020869b7ec9caacf6f3eb */ 
/* color ref #2 https://colorhunt.co/palette/222831393e46948979dfd0b8 */

@font-face {
  font-family: 'Quicksand';
  src: url('fonts/Quicksand/Quicksand-VariableFont_wght.woff2') format('woff2'),
  url(fonts/Quicksand/Quicksand-VariableFont_wght.ttf) format('truetype');
  font-display: swap;
}

:root {
  /* Base Colors */
  --backgound-primary: #222831;
  --background-secondary: #393E46;
  
  /* Functional Colors */
  /* --text-main: #C9CAAC; */
 --text-color-primary: #DFD0B8;
 --text-font-default: Quicksand;
}


body {
    background-color: var(--backgound-primary);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand'
}

header {
    margin: 0;
    padding: 0;
    /* width: 100vw; */
}

footer {
    /* margin-top: auto; */
    /* background-color: var(--background-secondary); */
    color: var(--text-color-primary);
    /* padding: 20px; */
    text-align: center;
    
}
main {
    flex: 1
}

