<!DOCKTYPE html>
<html lan="en">
<head>
    <meta charset="UTF-8">
    <meta name="personal-website">
    <!-- //For mobile? -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" href="/static/main.css"> 
    <script type="module" src="/scripts/loadtsiram.js"></script>
    <title> indoshon </title>
</head>

<header>
    <nav class = "navmain"> 
        <ul>
            <li> <a href="#home"> Home </a></li>
            <li> <a href="#projects"> Projects </a> </li>
            <li> <a href="#contact"> Contact</a> </li>
        </ul>
    </nav>
</header>

<body>

    <main> 

    </main>
    <footer> 
        <p> &copy 2026 Noah Yurasko. All Rights Reserved. </p>
        <!-- <address>
            Contact @ <a href="ndyurasko@gmail.com">ndyurasko@gmail.com</a>
        </address> -->
    </footer>

</body>


</html>