<!DOCKTYPE html>
<html lan="en">
<head>
    <meta charset="UTF-8">
    <meta name="personal-website">
    <!-- //For mobile? -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" href="/static/main.css"> 
    <script type="module" src="/scripts/loadtsiram.js"></script>
    <title> indoshon </title>
</head>

<header>
    <nav class = "navmain"> 
        <ul>
            <li> <a href="#home"> Home </a></li>
            <li> <a href="#projects"> Projects </a> </li>
            <li> <a href="#contact"> Contact</a> </li>
        </ul>

        <ul style="flex-direction: row-reverse ">
            <li> <a href="#contact"> <img src="/static/images/topbar/download.svg"> </a> </li>
            <li> <a href="https://www.linkedin.com/in/noah-yurasko-a86207336/"> <img src="/static/images/topbar/linkedin.svg"> </a></li>
            <li> <a href="https://github.com/Noah2024"> <img src="/static/images/topbar/github.svg"> </a> </li>
        </ul>
    </nav>

        
</header>

<body>

    <main> 
        <button id="StartSystem"> Start System </button>
        <button id="StopSystem"> Stop System </button>
    </main>
    <footer> 
        <p> &copy 2026 Noah Yurasko. All Rights Reserved. </p>
        <!-- <address>
            Contact @ <a href="ndyurasko@gmail.com">ndyurasko@gmail.com</a>
        </address> -->
    </footer>

</body>


</html>