<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css"> 
    <link rel="stylesheet" href="/static/tsiram.css">
    <script type="module" src="./components/footer/footer.js"></script>
    <script type="module" src="./components/header/header.js"></script>
    <script type="module" src="/scripts/loadtsiram.js"></script>
    <title>Document</title>
</head>

<app-header></app-header>

<body>
    <main>
        <div class="control-bar">
            <button id="StartSystem"> Start System </button>
            <button id="StopSystem"> Stop System </button>
            <button id="RestartSystem"> Restart System </button>

            <label >ClockSpeed (ms):</label>
            <input type="text" id="CLOCK_INTERVAL" value="20">
             <div>
                Clock Speed <br>
            </div>
            <div>
                Log Level <br>
            </div>
            <div> 
                Program (presets/custom)
            </div>
            <label> Program Preset: </label>
            <select id="cars" name="cars">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
            <!-- <label> Program Input: </label> -->
            <textarea  class = "ProgramInput"></textarea>
            <a href="/projects/tsiram/tsiramInstructionSet.pdf" target="_blank">Instruction Set</a>


        </div>
       
        <div class="cpu-section"> 
             <div class="cpu-log"> 
            </div>

            <div class="cpu-output">
                <!-- <p> tmp </p> -->
            </div>
        </div>
    </main>
    
</body>

<app-footer></app-footer>

</html>