<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css"> 
    <link rel="stylesheet" href="/static/tsiram.css">
    <script type="module" src="./components/footer/footer.js"></script>
    <script type="module" src="./components/header/header.js"></script>
    <script type="module" src="/scripts/loadtsiram.js"></script>
    <title>Document</title>
</head>

<app-header></app-header>

<body>
    <main>
        <div class="control-bar">
            <button id="StartSystem"> Start System </button>
            <button id="StopSystem"> Stop System </button>
            <button id="RestartSystem"> Restart System </button>

            <div>
                Start <br>
            </div>
            <div>
                Stop <br>
            </div>
             <div>
                Clock Speed <br>
            </div>
            <div>
                Log Level <br>
            </div>
            <div> 
                Program (presets/custom)
            </div>
        </div>
        <div class="cpu-output"> 
            
        </div>>
    </main>
    
</body>

<app-footer></app-footer>

</html>