<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css"> 
    <link rel="stylesheet" href="/static/tsiram.css">
    <script type="module" src="./components/footer/footer.js"></script>
    <script type="module" src="./components/header/header.js"></script>
    <script type="module" src="../projects/apps/422-tsiraM/loadtsiram.js"></script>
    <title>Document</title>
</head>

<app-header></app-header>

<body>
    <main>
        <div class="control-bar">
            <button id="StartSystem"> Start System </button>
            <button id="StopSystem"> Stop System </button>
            <button id="RestartSystem"> Restart System </button>

            <label >ClockSpeed (ms):</label>
            <input type="text" id="CLOCK_INTERVAL" value="20">
            <label> Program Preset: </label>
            <select id="ProgramSelect">
                <option value="Hello World",>Hello World</option>
                <option value="Two + Two">Two + Two</option>
                <option value="Tribonacci">Tribonacci</option>
            </select>
            <!-- Loaded with default "hello world" program -->
            <textarea id="ProgramInput" class="ProgramInput">0xA2, 0x03, 0xFF, 0x06, 0x00, 0x00, 0x48, 0x65, 0x6C, 0x6C, 0x6F, 0x20, 0x57, 0x6F, 0x72, 0x6C, 0x64, 0x21, 0x0A, 0x00</textarea>
            <a href="/projects/tsiram/tsiramInstructionSet.pdf" target="_blank" style="color: var(--text-color-primary);">Instruction Set</a>

        </div>
       
        <div class="cpu-section"> 
             <div class="cpu-log"> 
            </div>

            <div class="cpu-output">
                <!-- <p> tmp </p> -->
            </div>
        </div>
    </main>
    
</body>

<app-footer></app-footer>

</html>